.space {
    margin-left: 10px;
}
h1 {
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(212, 163, 210),rgb(165, 43, 90));
    height: 70px;
    margin-top: 0;
    padding-top: 20px;
}

.container {
    height: 280px;
    width: 35%;
    background-color: blueviolet;
    text-align: center;
    padding-top: 50px;
    margin-left: 33%;
}

h2 {
    font-weight: bolder;
    font-size: 30px;
}

input {
    width: 50%;
    height: 30px;
    background-color: rgb(182, 182, 230);
    border-color: rgb(192, 19, 48);
    border-width: 5px;
}

input:hover {
    background-color: white;
    color: black;
}


button {
    height: 30px;
    width: 18%;
    background-color: pink;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    color: black;
}

button:hover {
    background-color: rgb(68, 11, 68);
    color: white;
}

.new-container {
    height: 30px;
    width: 35%;
    background-color: cadetblue;
    margin-left: 33%;
    font-size: 20px;
}

.additionalstyle {
    float : right;
}